                <!--ul>
                    <li *ngFor="let dato of data">DATA:{{ dato }}</li>
                </ul-->

                 <!-- Page Content-->
                 <div class="container px-5 my-5">
                    
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="text-center mb-5">
                                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">{{dataCampeonatos.name}}</span></h1>
                            </div>
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-8">
                                        
                                        <form (ngSubmit)="guardar()">
                                            <mat-form-field>
                                                <div class="text-primary fw-bolder mb-2">Nombre Campeonato:<br></div>
                                                <input matInput placeholder="Nombre" [(ngModel)]="nombre">
                                            </mat-form-field>
                                            <br>
                                            <mat-form-field>
                                              <div class="small fw-bolder">Descripcion: <br></div>
                                              <input matInput type="text" placeholder="Correo electrónico" [(ngModel)]="correo">
                                            </mat-form-field>
                                            <br>
                                            <button mat-raised-button color="primary" type="submit">Guardar</button>
                                          </form>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   

                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-11 col-xl-9 col-xxl-8">
                            <!-- Experience Section-->
                            <section>
                                
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <h2 class="text-primary fw-bolder mb-0">Partidos {{dataCampeonatos.name }}</h2>
                                    <!-- Download resume button-->
                                    <!-- Note: Set the link href target to a PDF file within your project-->
                                    <!--a class="btn btn-primary px-4 py-3" href="#!">
                                        <div class="d-inline-block bi bi-download me-2"></div>
                                        Download Resume
                                    </a-->
                                </div>
                                <div *ngFor="let datos of dataPartidos">
                                    <!-- Experience Card -->
                                    <div class="card shadow border-0 rounded-4 mb-5">
                                        <div class="card-body p-5">
                                            <div class="row align-items-center gx-5">
                                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                                    <div class="bg-light p-4 rounded-4">
                                                        <div class="text-primary fw-bolder mb-2">{{datos.name }} </div>
                                                        <div class="small fw-bolder">{{datos.description }}</div>
                                                        <!--div class="small text-muted">{{datos.name }}</div>
                                                        <div class="small text-muted">{{datos.name }}</div-->
                                                    </div>
                                                </div>
                                                <div class="col-lg-8"><div>
                                                <!--""    {{datos.name }}: {{datos.description }}. -->
                                                <div class="small fw-bolder">Rut: {{datos.rut }}</div>
                                                <div class="small fw-bolder">Fecha Nac: {{datos.fecha_nac }}</div>
                                                <div class="small fw-bolder">Peso: {{datos.peso_kg }}</div>
                                                <div class="small fw-bolder">Velocidad: {{datos.velocidad_kmh }}</div>
                                                <div class="small fw-bolder">Altura: {{datos.altura_cm }}</div>
                                                <div class="small fw-bolder">Resistencia: {{datos.resistencia }}</div>
                                                <hr>
                                                    <a class="btn btn-primary px-4 py-3" [routerLink]="['/partidos/', datos.id]">
                                                    <div class="d-inline-block bi bi-tools me-2"></div>
                                                    Gestionar Partido {{datos.name}}
                                                </a>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                <hr>
                                <!-- ADD Experience Card -->
                                <div class="card shadow border-0 rounded-4 mb-5">
                                    <div class="card-body p-5">
                                        <div class="row align-items-center gx-5">
                                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                                <div class="bg-light p-4 rounded-4">
                                                    <div class="text-primary fw-bolder mb-2">Nuevo Partido...</div>
                                                    <div class="small fw-bolder">Agregar una nueva fecha de encuentro</div>
                                                    <!--div class="small text-muted">{{datos.name }}</div>
                                                    <div class="small text-muted">{{datos.name }}</div-->
                                                </div>
                                            </div>
                                            <div class="col-lg-8"><div>
                                            <!--""    {{datos.name }}: {{datos.description }}. -->
                                            
                                            <a class="btn btn-primary px-4 py-3" href="add-partido">
                                                <div class="d-inline-block bi bi-plus-circle me-2"></div>
                                                Agregar Partido
                                            </a>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
      
                            </section>
                        </div>
                    </div>        
                </div>